/** ------------------- BOT ------------------------ */
.bot-message-box {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 16px;
}

.messages {
  max-height: 200px;
  overflow-y: auto;
  margin-bottom: 10px;
  padding: 10px;
  resize: none;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.message {
  margin-bottom: 10px;
}

.message.user {
  text-align: right;
  color: blue;
}

.message.assistant {
  text-align: left;
  color: green;
}

.bot-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.bot-send-button {
  width: 100%;
  padding: 8px;
  background-color: #212245;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/** ------------------- ACCOUNT ------------------------ */
.headerprofilicon{
  width: 18px;
  font-weight: 600;
  color: #212245;
}
.user-dropdown {
  display: flex;
  align-items: center;
}

.user-dropdown .dropdown-toggle {
  background-color: #fde4e4;
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 15px;
  color: #212245;
  font-weight: 600;
  font-size: 17px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  margin-bottom: 5px;
}

.user-dropdown .dropdown-toggle:hover {
  background-color: #fde4e4cb;
  border-color: #bbb;
  color: #212245;
}

.user-dropdown .dropdown-menu {
  top: 20px !important;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border: none;
  padding: 10px 0;


}

.user-dropdown .dropdown-item {
  display: flex;
  gap: 20px;
  padding: 10px 20px;
  color: #212245;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.user-dropdown .dropdown-item:hover {
  background-color: #212245;
  color: #fff;
}

.user-dropdown .dropdown-item.divider {
  height: 1px;
  margin: 10px 0;
  overflow: hidden;
  background-color: #e9ecef;
}

/** ------------------- HEADERALL NAV ------------------------ */
.header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

.logo img {
  width: calc(100% - 70%);
  object-fit: contain;
}

.menu {
  display: flex;
  gap: 3rem;
}

.menu a {
  font-weight: 600;
  font-size: 1.1rem;
  color: #212245;
  transition: 0.3s;
  font-family: "Quicksand", sans-serif !important;
}

.menu a:hover {
  color: #df2020;
}

.active__menu {
  color: #df2020 !important;
}

.cart__icon i,
.user i,
.mobile__menu i {
  font-size: 1.3rem;
  color: #212245;
  cursor: pointer;
}

.cart__icon {
  position: relative;
  display: flex;
  align-items: center;
}

.cart__badge {
  position: absolute;
  top: 5px;
  right: -15px;
  background: #df2020;
  color: #fff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: 0.7rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.navigation {
  display: flex;
  align-items: center;
}

.user {
  display: flex;
  align-items: center;
}

.mobile__menu {
  font-weight: 500;
  display: none;
}

.header__shrink {
  position: sticky;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 999;
  box-shadow: 5px 5px 15px -5px #fde4e4;
}

@media only screen and (max-width: 1200px) {
  .logo img {
    width: calc(100% - 60%);
  }

  .logo {
    width: 400px;
  }

  .nav__wrapper {
    gap: 20px;
  }


  .menu {
    gap: 1rem;
    /* 1200px'den küçük ekranlar için gap değeri */
  }
}

@media only screen and (max-width: 992px) {
  .logo img {
    width: calc(100% - 70%);
  }

  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.425);
    z-index: 99;
    display: none;
  }

  .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    line-height: 20px;
    gap: 1rem;
  }

  .menu a {
    font-size: 0.9rem;
  }

  .mobile__menu {
    display: block;
    display: flex;
    align-items: center;
  }

  .cart__icon i,
  .user i,
  .mobile__menu i {
    font-size: 1rem;
  }

  .show__menu {
    display: block;
  }
}

.bot-message-box {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bot-message-box .bot-close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.bot-message-box .bot-close-button i {
  font-size: 20px;
  color: #212245;
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  .header {
    width: 100%;
    height: 80px;
    line-height: 80px;
  }

  .cart__badge {
    top: 20px;
    font-weight: 600;
  }
}