/* General styles */
.feature__subtitle {
  color: #df2020;
}

.feature__title span {
  color: #df2020;
}

.feature__text {
  color: #777;
}

.feature__item p {
  color: #777;
}

.food__category {
  background: #df2020;
  text-align: center;
  margin-top: 30px;
  padding: 20px 0px;
  border-radius: 8px;
}

.food__category button {
  border: none;
  outline: none;
  padding: 7px 20px;
  background: transparent;
  color: #fff;
}

.food__category button img {
  width: 20px;
  height: 20px;
}

.foodBtnActive {
  background: #fff !important;
  border-radius: 5px;
  color: #df2020 !important;
}

.tasty__treat-title span {
  color: #df2020;
}

.tasty__treat-desc {
  color: #777;
  line-height: 28px;
}

.choose__us-title {
  font-weight: 600;
  margin-bottom: 10px;
}

.choose__us-title i {
  font-weight: 500 !important;
  color: #df2020;
}

.choose__us-desc {
  color: #777;
}

.testimonial__subtitle {
  color: #df2020;
}

.testimonial__title span {
  color: #df2020;
}

.testimonial__desc {
  color: #777;
  line-height: 30px;
}

/* Media queries for responsiveness */
@media (max-width: 1400px) {
  .hero__content {
    padding-top: 0;
  }

  .hero__content h5 {
    font-size: 1.2rem;
  }

  .hero__content p {
    font-size: 0.9rem;
  }

  .hero__title {
    font-size: 2rem;
  }



  .hero__btns button {
    padding: 6px 16px;
    font-size: 0.8rem;
  }

  .hero__service p {
    font-size: 0.8rem;
  }

  .feature__item h5 {
    font-size: 1rem;
  }

  .feature__item p {
    font-size: 0.9rem;
  }

  .feature__subtitle {
    font-size: 1.1rem;
  }

  .feature__text {
    font-size: 0.9rem;
  }

  .food__category {
    padding: 16px;
  }

  .food__category button {
    padding: 6px 16px;
    font-size: 0.8rem;
  }

  .tasty__treat-desc {
    font-size: 0.9rem;
  }

  .choose__us-title {
    font-size: 0.9rem;
  }

  .choose__us-desc {
    font-size: 0.8rem;
  }

  .testimonial__subtitle {
    font-size: 1.1rem;
  }

  .testimonial__desc {
    font-size: 0.9rem;
  }
}

@media (max-width: 1200px) {
  .hero__content h5 {
    font-size: 1rem;
  }

  .hero__content p {
    font-size: 0.85rem;
  }

  .hero__title {
    font-size: 1.8rem;
  }

  .hero__btns button {
    padding: 5px 15px;
    font-size: 0.75rem;
  }

  .hero__service p {
    font-size: 0.75rem;
  }

  .feature__item h5 {
    font-size: 0.95rem;
  }

  .feature__item p {
    font-size: 0.85rem;
  }

  .feature__subtitle {
    font-size: 1rem;
  }

  .feature__text {
    font-size: 0.85rem;
  }

  .food__category {
    padding: 15px;
  }

  .food__category button {
    padding: 5px 15px;
    font-size: 0.75rem;
  }

  .tasty__treat-desc {
    font-size: 0.85rem;
  }

  .choose__us-title {
    font-size: 0.85rem;
  }

  .choose__us-desc {
    font-size: 0.75rem;
  }

  .testimonial__subtitle {
    font-size: 1rem;
  }

  .testimonial__desc {
    font-size: 0.85rem;
  }
}

@media (max-width: 992px) {
  .hero__content h5 {
    font-size: 0.9rem;
  }

  .hero__content p {
    font-size: 0.8rem;
    line-height: 25px;
  }

  .hero__title {
    font-size: 1.5rem;
    line-height: 40px;
  }

  .hero__btns button {
    padding: 5px 15px;
    font-size: 0.7rem;
  }

  .hero__service p {
    font-size: 0.7rem !important;
  }

  .feature__item h5 {
    font-size: 0.9rem;
  }

  .feature__item p {
    font-size: 0.8rem;
    margin-bottom: 0;
  }

  .feature__subtitle {
    font-size: 1rem;
  }

  .feature__text {
    font-size: 0.8rem;
    margin-bottom: 0;
  }

  .food__category {
    padding: 15px;
  }

  .food__category button {
    padding: 5px 15px;
    font-size: 0.7rem;
  }

  .tasty__treat-desc {
    font-size: 0.8rem;
    margin-bottom: 0;
  }

  .choose__us-title {
    font-size: 0.8rem;
  }

  .choose__us-desc {
    font-size: 0.7rem;
  }

  .testimonial__subtitle {
    font-size: 1rem;
  }

  .testimonial__desc {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .hero__btns {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .hero__content {
    text-align: center;
  }
  
  .hero__service {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .hero__content h5 {
    font-size: 0.9rem;
  }

  .hero__content p {
    font-size: 0.8rem;
    line-height: 20px;
  }

  .hero__title {
    font-size: 1.2rem;
    line-height: 30px;
  }

  .hero__btns button {
    padding: 4px 10px;
    font-size: 0.6rem;
  }

  .hero__service p {
    font-size: 0.7rem !important;
  }

  .feature__item h5 {
    font-size: 0.8rem;
  }

  .feature__item p {
    font-size: 0.7rem;
  }

  .feature__subtitle {
    font-size: 0.9rem;
  }

  .feature__text {
    font-size: 0.7rem;
  }

  .food__category {
    padding: 10px;
  }

  .food__category button {
    padding: 4px 10px;
    font-size: 0.6rem;
  }

  .tasty__treat-desc {
    font-size: 0.7rem;
  }

  .choose__us-title {
    font-size: 0.7rem;
  }

  .choose__us-desc {
    font-size: 0.6rem;
  }

  .testimonial__subtitle {
    font-size: 0.9rem;
  }

  .testimonial__desc {
    font-size: 0.7rem;
  }
}

@media (max-width: 576px) {
  .hero__content {
    text-align: center;
  }

  .hero__btns {
    justify-content: center;
  }

  .hero__service {
    justify-content: center;
  }

  .why__choose-us {
    padding-top: 0 !important;
  }
}

@media (max-width: 450px) {
  .hero__content h5 {
    font-size: 0.7rem;
  }

  .hero__content p {
    font-size: 0.6rem;
    line-height: 18px;
  }

  .hero__title {
    font-size: 1rem;
    line-height: 25px;
  }

  .hero__btns button {
    padding: 3px 8px;
    font-size: 0.5rem;
  }

  .hero__service p {
    font-size: 0.5rem !important;
  }

  .feature__item h5 {
    font-size: 0.7rem;
  }

  .feature__item p {
    font-size: 0.6rem;
  }

  .feature__subtitle {
    font-size: 0.8rem;
  }

  .feature__text {
    font-size: 0.6rem;
  }

  .food__category {
    padding: 8px;
  }

  .food__category button {
    padding: 3px 8px;
    font-size: 0.5rem;
  }

  .tasty__treat-desc {
    font-size: 0.6rem;
  }

  .choose__us-title {
    font-size: 0.6rem;
  }

  .choose__us-desc {
    font-size: 0.5rem;
  }

  .testimonial__subtitle {
    font-size: 0.8rem;
  }

  .testimonial__desc {
    font-size: 0.6rem;
  }
}